.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--marine-blue);

  .title {
    margin-bottom: 12px;
  }

  .subtitle {
    color: var(--cool-gray);
  }
}

.navButtons {
  display: flex;
  flex-direction: row;

  button {
    border: unset;
    font: unset;
    background-color: unset;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
    font-weight: 500;
    margin-top: auto;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: background-color, color;
  }

  .prevStep {
    color: var(--cool-gray);
    margin-right: auto;

    &:hover {
      color: var(--marine-blue);
    }
  }

  .nextStep {
    background-color: var(--marine-blue);
    color: white;
    margin-left: auto;

    &:hover {
      background-color: #174a8b;
    }
  }

  .confirm {
    background-color: var(--purplish-blue);
    color: white;
    margin-left: auto;

    &:hover {
      background-color: #5850ff;
    }
  }
}
