* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Taken from provided style guide */
html {
  /* Primary colors */
  --marine-blue: #02295a;
  --purplish-blue: #473dff;
  --pastel-blue: #adbeff;
  --light-blue: #bfe2fd;
  --strawberry-red: #ed3548;

  /* Neutral colors */
  --cool-gray: #9699ab;
  --light-gray: #d6d9e6;
  --magnolia: #f0f6ff;
  --alabaster: #fafbff;
  --white: #ffffff;
}

html {
  height: 100%;
  background-color: var(--magnolia);
}

body {
  height: 100%;
}
