.sidebarItem {
  border: unset;
  font: unset;
  background: unset;
  text-align: unset;

  display: flex;
  flex-direction: row;
  gap: 16px;
  color: white;
  cursor: pointer;
  user-select: none;

  .number {
    grid-area: number;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    transition-duration: 0.5s;
    transition-property: background-color, color, border;
    &.numberSelected {
      background-color: var(--light-blue);
      border: 1px solid var(--light-blue);
      color: black;
    }
  }

  .description {
    .step {
      grid-area: step;
      font-size: 12px;
      color: var(--pastel-blue);
    }

    .title {
      grid-area: title;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.06em;
    }
  }

  transition-duration: 0.2s;
  transition-property: opacity;
  &:hover {
    opacity: 0.8;
  }
}
