.sidebarItem {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: white;
  cursor: pointer;
  user-select: none;

  .number {
    grid-area: number;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    &.numberSelected {
      background-color: white;
      color: black;
    }
  }

  .description {
    .step {
      grid-area: step;
      font-size: 12px;
    }

    .title {
      grid-area: title;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.06em;
    }
  }
}
