.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;

  > div {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "label validation"
      "input input";

    .label {
      grid-area: label;
      margin-bottom: 8px;
      font-size: 14px;
    }

    .validation {
      grid-area: validation;
      font-weight: 700;
      font-size: 14px;
      &.error {
        color: var(--strawberry-red);
      }
      &.ok {
        color: limegreen;
      }
    }

    .input {
      grid-area: input;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid var(--light-gray);
      font-weight: 500;
      width: 100%;

      &.isError {
        border: 1px solid var(--strawberry-red);
      }
    }
  }
}
