.root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 24px;
  padding: 24px;

  max-width: 731px;
  margin-left: auto;
  margin-right: auto;

  line-height: 1.5;
  color: #67727e;
}
