* {
  border: unset;
  background-color: unset;
  font: unset;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  transition-duration: 0.2s;
  transition-property: none;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

html {
  line-height: 1.5;
}

select {
  margin: 4px;
  border-radius: 12px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;

  font-size: 10px;
  text-align: center;

  transition-property: opacity;
  background-color: #ced6e1;
  &:hover {
    opacity: 0.9;
  }
}

.shareButton {
  border-radius: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: #406aff;
  color: white;

  &:disabled {
    background-color: gray;
  }
}

button {
  transition-property: opacity;
  &:not(:disabled):hover {
    opacity: 0.9;
  }
}

.fadein {
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
