.replybox {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
}

.replyline {
  width: 2px;
  background-color: #eaecf1;
  margin-left: 44px;
  margin-right: 44px;

  @media screen and (max-width: 600px) {
    margin-left: 0;
    margin-right: 24px;
  }
}

.replies {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
